{% extends "frame.html" %}
{% block page_wrapper %}
<!-- this is the main content section to be overwritten -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Machine List
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Machine List
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
